<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.motorola.fmradio">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="15" />

    <uses-permission android:name="com.motorola.android.permission.USEFMRADIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:label="@string/app_name"
            android:icon="@drawable/fm_radio_icon">

        <provider
                android:name="FMDataProvider"
                android:authorities="com.motorola.provider.fmradio" />

        <activity
                android:name=".FMRadioMain"
                android:configChanges="orientation"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
                android:name=".FMClearChannel"
                android:label="FMClearChannel"
                android:theme="@style/Theme" />

        <activity
                android:name=".SettingsActivity"
                android:label="@string/settings_title"
                android:theme="@style/Theme" />

        <service
                android:name="FMRadioPlayerService"
                android:process=":remote">

            <intent-filter>
                <action android:name="com.motorola.fmradio.FMRADIO_SERVICE" />
            </intent-filter>

        </service>

        <receiver
                android:name="FMMediaButtonReceiver"
                android:enabled="false">

            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>

        </receiver>

    </application>

</manifest>
